:root {
  height: 100%;
  --global-font-size: 13px;
  --global-font-family: monospace;
  --global-color: #444;
  --global-link-color: #777;
  --hover-color: #ccc;
  --transition-duration: .2s;
}
body {
  margin: 0;
  height: 100%;
  overflow: auto;
  display: grid;
  grid-template-rows: 30px 1fr 30px;
  font: var(--global-font-size) var(--global-font-family);
}
a {
  color: var(--global-color);
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header,
footer {
  background: #ccc;
  display: flex;
  flex-direction: row;
}
header .menu,
footer .menu {
  flex: 1;
  font-weight: bold;
  display: inline-block;
  line-height: 22px;
  text-decoration: none;
  padding: 3px 10px;
  text-align: center;
  border-right: solid 1px currentColor;
  transition: background var(--transition-duration) ease-out;
}
header .menu:hover,
footer .menu:hover {
  background: var(--global-color);
  color: var(--hover-color);
  will-change: padding-top, padding-bottom;
}
header .menu:active,
footer .menu:active {
  padding-top: 4px;
  padding-bottom: 2px;
}
header .menu:last-of-type,
footer .menu:last-of-type {
  border-right: none;
}
content {
  padding: 3px 10px;
  border-top: solid 1px var(--global-color);
  border-bottom: solid 1px var(--global-color);
}
