@font-face {
    font-family: "zeiss";
    src: url('resources/fonts/ZEISSFrutigerNextW1G-Reg.ttf');
}
@font-face {
    font-family: "zeissmed";
    src: url('resources/fonts/ZEISSFrutigerNextW1G-Medium.ttf');
}
@font-face {
    font-family: "zeissbold";
    src: url('resources/fonts/ZEISSFrutigerNextW1G-bold.ttf');
}

:root {
    height: 100%;
    --global-font-size: 13px;
    --global-font-family: zeiss, monospace;
    --global-font-bold: zeissbold, monospace;
    --global-color: #444;
    --global-link-color: #555;
    --hover-color: #ccc;
    --transition-duration: .2s;
     -webkit-overflow-scrolling : touch;
}

body {
    margin: 0;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-rows: 30px calc(100% - 60px) 30px;/*calc is going to be updated to 1fr*/
    font: var(--global-font-size) var(--global-font-family);
    font-display: swap;
    color: var(--global-color);
}

a {
    color: var(--global-link-color);
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    background: #ccc;
    display: flex;
    flex-direction: row;
}

header .menu, footer .menu {
    flex: 1;
    font-family: var(--global-font-bold);
    display: inline-block;
    line-height: 25px;
    text-decoration: none;
    padding: 3px 10px;
    text-align: center;
    border-right: solid 1px currentColor;
    transition: background var(--transition-duration) ease-out;
}

header .menu:hover, footer .menu:hover {
    background: var(--global-color);
    color: var(--hover-color);
    will-change: padding-top, padding-bottom;
}

header .menu:active, footer .menu:active {
    padding-top: 4px;
    padding-bottom: 2px;
}

header .menu:last-of-type, footer .menu:last-of-type {
    border-right: none;
}

content {
    padding: 3px 10px;
    border-top: solid 1px var(--global-color);
    border-bottom: solid 1px var(--global-color);
    overflow: auto;
}

input, button, select {
    font: var(--global-font-size) var(--global-font-family);
}

input[type='button'], button, legend {
    padding: 2px 10px 1px;
}

input[type='range'], input[type='checkbox'] {
    margin: 0;
    transform: translateY(25%);
}