#canMeasure {
    border: 1px solid #333;
    display: block;
}

.measurements {
    padding: 3px 10px;
    margin: 3px 0;
    border: solid 1px #ddd;
    border-radius: 3px;
    display: inline-block;
}

.operator-label {
    display: inline-block;
    width: 80px;
}

.image-filter {
    display: inline-block;
}