:host {
    --filter-line-height: 23px;
}

.ddl-images {
    display: inline-block;
    margin: 0 5px;
    max-width: 100%;
}

#canMeasure {
    margin: 10px 0;
    box-shadow: 0 0 7px #000;
    display: block;
    max-width: 100%;
    width: 500px;
}

.measurement-groups {
    width: 500px;
    max-width: 100%;
}

.measurement {
    --frame-border-color: #777;
    padding: 3 17px 10px 10px;
    margin: 7px 0;
    border: solid 1px var(--frame-border-color);
    border-radius: 5px 0;
}

.measurement legend {
    border: solid 1px var(--frame-border-color);
    line-height: 18px;
    background: #eee;
    border-radius: 5px 0;
    font-family: var(--global-font-bold);
}

.operator-label {
    
    display: inline-block;
    font-size: .7rem;
    width: 130px;
    height: var(--filter-line-height);
    line-height: var(--filter-line-height);
}

.operator-filter {
    display: inline-block;
    margin: 0 0 0 5px;
    width: calc(100% - 135px);
    height: var(--filter-line-height);
    line-height: var(--filter-line-height);
}

.operator-button {
    margin: 3px 0;
}

input[type='checkbox'].operator-filter {
    width: auto;
    margin: 0 calc(100% - 200px) 0 0;
}